<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <title> Informační stránka </title>

    <body>
      <div class = "uvod">
        <h1>Úvod - informační stránka </h1>
        <p> Tohle je informační stránka  </p>
        <h2> Navod k hlasovani </h2>
          <ol>
            <li> Vyber si, o čem chceš hlasovat </li>
            <li> Zadej jmeno/přezdivku </li>
            <li>Vyber si položky, které ti vyhovují a hlasuj </li>
          </ol>

        <a href="{% url 'poll_list' %}">Zpět</a>
      </div>


    </body>

  </html>
